*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    perspective: 1000px;
}
body, #video-grid {
    -webkit-app-region: drag;
  }
button {
    -webkit-app-region: nodrag; 
}
#video-container {
    margin: auto;
    transform: rotateY(180deg);
    overflow: hidden;
    width: 50vw ;
    height: 50vw;
    border-radius: 50%;
}

video {
    width: 150%;
    height: auto;
    transform: translate(-20%, 0%); 
}
@media(max-width: 600px){
    #video-container {
        width: 64vw; 
        height: 64vw
    }
}
@media(max-height: 515px){
    #video-container{
        width: 100vh;
        height: 100vh;
    }
}